@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
}
header > h1 {
    font-size:50px;
    font-weight: 500;
}

.grid {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(500px, 50vw));
}

.grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


div > span{
    padding: 20px;
}
span > img{
    max-width:100%; 
    height:auto !important;
    align-self: stretch;
    justify-self: stretch;
}    
.a {
    background-color:  #d4d2c5;
}
.b {
    background-color:#e8e7e3;
}
.c {
    background-color: #b0aba0;
}
.d {
    background-color:   #DEC4BD;
}
.e {
    background-color:    #A0A8AE;
}
.f {
    background-color:   #485449;
}
.g {
    background-color:  #bdc4ce;
}
.h {
    background-color:    #625c5a;
}
.i {
    background-color:  #AF9591;
}

.j {
    background-color: #b1b3b3;
}
.k {
    background-color:  #2E3D4A;
}
.l {
    background-color:   #7E816F;
}